.navbar{
    /* background-color:#252525; */
    color: whitesmoke;
    font-size: 2rem;
    
    height: 60px;
    display: flex;
    color: #f5f5f5;
    position: sticky;
    top: 0;
    
}
.navbar label{
    font-family: 'Georama', sans-serif;
    width: 400;
    left: 100px;
}